@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  height: 100%;
  overflow-x: hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}
